.App {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #153B50;
    font-family: 'Open Sans', sans-serif;
}

.App-header {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  color: white;
}

.input {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
}

.options {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  color: white;
}

.score {
  grid-row: 2;
  grid-column: 4;
  text-align: center;
}

.pokeImg {
  display: flex;
  grid-row: 2;
  grid-column: 3;
  background-color: white;
  border-radius: 30px;
  height: 475px;
  width: 475px;
  justify-content: center;
  align-items: center;
}

img {
  height: 90%;
  width: auto;
}

button {
  color: black;
  background-color: white;
  padding: 1vh 1vw;
  border-radius: 10px;
}

.text-box {
  color: black;
  background-color: white;
  padding: 1vh 1vw;
  border-radius: 10px;
  width: auto;
}

.poke-name {
  color: white;
  font-size: 18px;
}

.submit {
  width: 15%;
}

.count {
  color: white;
  font-size: 24px;
}
